---
# Configure clang-tidy for this project.
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  misc-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  clang-analyzer-cplusplus*,
  cppcoreguidelines-*,
  cert-*,
  concurrency-*,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -readability-isolate-declaration,
  -readability-identifier-length,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

HeaderFilterRegex: '^(src|include)/'

CheckOptions:
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.EnumCase,               value: CamelCase  }
  - { key: readability-identifier-naming.MacroDefinitionCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.VariableCase,           value: aNy_CasE   }
  - { key: readability-identifier-naming.VariableNamingStyle,    value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case }
  - { key: readability-identifier-naming.MethodCase,             value: lower_case }
  - { key: readability-identifier-naming.StaticMethodCase,       value: lower_case }
  - { key: readability-identifier-naming.PrivateMethodCase,      value: lower_case }
  - { key: readability-identifier-naming.VirtualMethodCase,      value: lower_case }